.inputField {
  margin-top: 10px;
  padding: 15px 70px;
  border: none;
  font-size: 20px;
  background-color: rgb(198, 198, 210);
  border-radius: 10px;
  color: white;
}
.addbtn {
  font-size: 18px;
  background: rgb(54, 50, 178);
  color: white;
  border-radius: 100%;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}
.edit {
  font-size: 18px;
  background: rgb(54, 50, 178);
  color: white;
  border-radius: 100%;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}
.delete {
  font-size: 18px;
  background: rgb(54, 50, 178);
  color: white;
  border-radius: 100%;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}
